@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  
  --color-dati-blue: #5abceb;
  --color-dati-orange: #f59d01;
  --color-dati-dark: #1a0f3d;
  --color-dati-green: #a4df64;
  --color-dati-purple: #6838e8;
  --color-bg-gray: #f8fafc;
}

@layer base {
  body {
    @apply bg-bg-gray text-dati-dark font-sans antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply bg-dati-blue text-white px-4 py-2 rounded-lg font-semibold text-sm transition-all hover:brightness-105 active:scale-95;
  }
  
  .btn-outline {
    @apply border border-slate-200 text-dati-dark px-3 py-1.5 rounded-lg text-xs font-semibold transition-all hover:border-dati-blue hover:text-dati-blue;
  }

  .tag-base {
    @apply text-[10px] font-bold uppercase py-0.5 px-2 rounded tracking-wider;
  }
}
